<footer>
    <br>
    <hr>
    <div class="d-flex justify-content-between mt-4 flex-wrap gap-3">
      <p>
        logo
      </p>
      <p class="aboutus">
        <a routerLink="#">About</a>
        <span>|</span>
        <a routerLink="#">Disclaimer
        </a>
        <span>|</span>
        <a routerLink="#">Terms & Conditions
        </a>
        <span>|</span>
        <a routerLink="#">Privacy</a>
        <span>|</span>
        <a routerLink="#">
          Contact Us</a>
      </p>
    </div>
    <div class="d-flex justify-content-between mt-2 flex-wrap gap-3">
      <p class="whatOfferService">
        <a routerLink="#">Good Price</a>
        <span>|</span>
        <a routerLink="#">Exchange Rate
        </a>
        <span>|</span>
        <a routerLink="#">Black Market Exchange Rate</a>
        <span>|</span>
        <a routerLink="#">Egyptian Postal Codes</a>
        <span>|</span>
        <a routerLink="#">
          Blog</a>
      </p>
      <p class="lan">
        <a routerLink="#">عربي</a>
        <a routerLink="#">Engish</a>
      </p>
    </div>
  </footer>