
  <section id="calculator">
    <div class="text-bg-dark rounded-1 p-4">
      <h3 class="mb-3">{{"gold.EgyptGoldCalculator" | translate}}</h3>
      <div class="container">
        <div class="row g-2 algin-items-center">
          <div class="parent">
            <div *ngFor="let calculator of calculators; let i = index" class="child col-12 d-flex my-4">
                <select class="form-select" aria-label="Default select example" 
                [(ngModel)]="calculator.selectedValue">
                    <option value="0" selected>Select a type</option>
                    <option *ngFor="let item of goldPrice" [ngValue]="item">{{item.karat}}</option>
                </select>
                <input type="number" min="0" [(ngModel)]="calculator.inputValue" class="form-control shadow-none" placeholder="enter amount">
        
                <button (click)="removeCalculator(i)" class="btn btn-light">-</button>
            </div>
            <div class="btns col-12 d-flex mt-5">
                <div class="add&Calculate col-5 d-flex justify-content-between">
                    <button (click)="addCalculator()" class="btn btn-light" >{{"gold.buttonAdd" | translate}}</button>
                    <button (click)="calculate()" class="btn btn-warning" >{{"gold.buttoncalculatoe" | translate}}</button>
                </div>
                <div class="form-check form-switch col-6 d-flex justify-content-end mt-2">
                    <input class="form-check-input fs-5 mx-2 " type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isSell">
                    <label class="form-check-label mt-1" for="flexSwitchCheckDefault">{{"gold.buttonSell" | translate}}</label>
                </div>
            </div>
        </div>
        
        </div>
        <div class="col-12">
          <p class="border-top mt-5 pt-3 text-center h4 lh-1 fs-1">{{calculateThePrice}}</p>
        </div>
      </div>
    </div>
  </section>
    <div class="fw-medium m-0 p-2 py-1 d-inline-block fs-6 border-warning border-5 border-start my-5 ">
        <span class="text-dark">EGX Price ( Gold Ounce )</span>
        <span class="mx-2 fw-bold fs-5 text-success">108,490</span>
        <span class="text-nowrap">Egyptian Pound</span>
    </div>

    <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title text-success fs-5 fw-bold mt-3 mb-4">{{"gold.titleCardgold" | translate}}</h5>
          <p class="card-text text-muted fs-6" style="line-height: 1.8rem;">
            {{"gold.cardsGold" | translate}}
          </p>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title text-success fs-5 fw-bold mt-3 mb-4">            {{"gold.titleCardPound" | translate}}
          </h5>
          <p class="card-text text-muted fs-6" style="line-height: 1.8rem;">
            {{"gold.cardspound" | translate}}          </p>
        </div>
      </div>
