    <section id="calculator">
        <div class="text-bg-dark rounded-1 p-4">
            <h3 class="mb-3">Currency Converter</h3>
            <div class="container">
              <div class="row g-2 algin-items-center">
                <div class="col-5">
                  <section class="form-control border-primary shadow-none">
                    <option value="63.16">USD</option>
                  </section>
                </div>
                <div class="col-2 text-center">
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </div>
                <div class="col-5">
                  <section class="form-control border-primary shadow-none">
                    <option value="63.16">EGY</option>
                  </section>
                </div>
                <div class="col-5">
                 <b id="">From</b>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                 <b id="">To</b>
                </div>
                <div class="col-5">
                  <input type="number" min="0" value="1" class="form-control shadow-none" placeholder="enter amount">
                 </div>
                 <div class="col-2 text-center">
                  <i class="fa-solid fa-equals"></i>
                 </div>
                 <div class="col-5">
                  <input type="number" min="0" value="63.16" class="form-control shadow-none" placeholder="enter amount">
                 </div>
              </div>
              <div class="col-12">
                <p class="border-top mt-5 pt-3 text-center h4 lh-1">
                  1 USD = 63.16EGP
                </p>
              </div>
            </div>
          </div>
    </section>