
<section>
    <div class="row justify-content-between">
        <div class="col-lg-7">
            <h2 class="d-flex justify-content-between">
              {{"home.Gold" | translate}}
                <a routerLink="#" class="link-secondary">{{"home.titleGoldPrice" | translate}}</a>
                <a routerLink="#" class="link-dark fs-5 fw-normal"><i class="fa-solid fa-angle-right" style="position: relative; top: 2px; right: 4px;"></i>{{"home.titleGoldCalculator" | translate}}</a>
            </h2>
                <app-table [namesTableLable]="arrGold" [nameOfFolder]="'gold'" [itemsTable]="goldPrice"></app-table>
              <h2 class="d-flex justify-content-between">
                <a routerLink="#" class="link-secondary">{{"home.titleBlackMarketEchange" | translate}}</a>
                <a routerLink="#" class="link-dark fs-5 fw-normal"><i class="fa-solid fa-angle-right" style="position: relative; top: 1px; right: 2px;"></i>{{"home.titleDisplayAll" | translate}}</a>
            </h2>
            <app-table [namesTableLable]="arrCurrency" [nameOfFolder]="'currency'" [itemsTable]="currencyExchangeBlackMartk"></app-table>
          </div>
    
        <div class="col-lg-5">
          <h2 class="row">
            <a routerLink="#" class="link-secondary">{{"home.CentralBankofEgyptexchange" | translate}}</a>
            <a routerLink="#" class="link-dark fs-5 fw-normal "><i class="fa-solid fa-angle-right" style="position: relative; top: 1px; right: 2px;"></i>{{"home.CurrencyConverter" | translate}}</a>
          </h2>
          <app-table [namesTableLable]="arrCurrency" [nameOfFolder]="'currency'" [itemsTable]="currencyExchangeCenter"></app-table>
          <br>
         <!-- <app-calculator></app-calculator> -->
      </div>
    </div>

    <div class="my-5">
      <div class="row mx-1 g-4">
        <div class="col-lg-3 col-md-4 col-sm-6"  *ngFor="let itme of exchangeBanks">
            <div *ngIf="itme.imageUrl" class="banksBlock">
                <a routerLink="" class="border hover-bg-primary fw-medium d-block p-2 fs-6 d-flex gap-1">
                    <img [src]="itme.imageUrl" alt="banks" style="width: 25; height: 25;">
                    <span class="text-dark fw-medium my-1"> {{itme.namesBank}}</span>
                </a>
            </div>
        </div>
      </div> 
     </div>
    </section>

