/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';

html, body { height: 100%; }
body { margin: 0;  font-family: "IBM Plex Sans Arabic",sans-serif;  background-color: #fcfcfc;}

a{
    text-decoration-line: none;
    font-family: "IBM Plex Sans Arabic",sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.3rem;
}